# 4. 폴라스 깊이 있게 배우기

## 4.1 폴라스 설치

In [1]:
import polars as pl

## 4.2 폴라스 데이터 타입

In [2]:
pl.DataFrame([pl.Series('int_array', [[1,3], [3,6]]), pl.Series('string_array', [["a", "b", "c"],
["d", "e", "f"]]),],
    schema = {'array_1': pl.Array(shape = 2, inner = pl.Int64), 'array_2': pl.Array(shape = 3, inner = pl.String)
})

shape: (2, 2)
┌───────────────┬─────────────────┐
│ array_1       ┆ array_2         │
│ ---           ┆ ---             │
│ array[i64, 2] ┆ array[str, 3]   │
╞═══════════════╪═════════════════╡
│ [1, 3]        ┆ ["a", "b", "c"] │
│ [3, 6]        ┆ ["d", "e", "f"] │
└───────────────┴─────────────────┘

In [3]:
pl.DataFrame({'int_list': [[1, 3], [4, 6, 8]], 'string_lists': [["a", "b", "c"], ["d", "e"]]})

shape: (2, 2)
┌───────────┬─────────────────┐
│ int_list  ┆ string_lists    │
│ ---       ┆ ---             │
│ list[i64] ┆ list[str]       │
╞═══════════╪═════════════════╡
│ [1, 3]    ┆ ["a", "b", "c"] │
│ [4, 6, 8] ┆ ["d", "e"]      │
└───────────┴─────────────────┘

In [4]:
pl.DataFrame(
    pl.Series('등장인물', [{'name': "홍길동", '나이': 25, '성별': "남"}, {'name': "성춘향",
'나이': 24, '성별': "여"}])
)

shape: (2, 1)
┌────────────────────┐
│ 등장인물           │
│ ---                │
│ struct[3]          │
╞════════════════════╡
│ {"홍길동",25,"남"} │
│ {"성춘향",24,"여"} │
└────────────────────┘

In [5]:
from datetime import datetime, date, time
pl.DataFrame({'date': [date(1978, 1, 1)],
    'datetime': [datetime(2024, 10, 13, 5, 30, 14, 500_000)],
    'time': [time(5, 30, 14, 500_000)],
    'duration': [datetime(2024, 10, 13, 5, 30, 14) - datetime(2025, 1, 1, 0, 0, 0)]
})

shape: (1, 4)
┌────────────┬─────────────────────────┬──────────────┬─────────────────────┐
│ date       ┆ datetime                ┆ time         ┆ duration            │
│ ---        ┆ ---                     ┆ ---          ┆ ---                 │
│ date       ┆ datetime[μs]            ┆ time         ┆ duration[μs]        │
╞════════════╪═════════════════════════╪══════════════╪═════════════════════╡
│ 1978-01-01 ┆ 2024-10-13 05:30:14.500 ┆ 05:30:14.500 ┆ -79d -18h -29m -46s │
└────────────┴─────────────────────────┴──────────────┴─────────────────────┘

## 4.3 폴라스 데이터 구조

In [6]:
pl.Series('a', [1, 2, 3])

shape: (3,)
Series: 'a' [i64]
[
	1
	2
	3
]

In [7]:
## 파이썬 리스트의 딕셔너리로 데이터프레임 만들기
pl.DataFrame({
    'name': ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"],
    'birthdate': [date(1997, 1, 10), date(1985, 2, 15), date(1983, 3, 22), date(1981, 4, 30)],
    'weight': [57.9, 72.5, 53.6, 83.1],
    'height': [1.56, 1.77, 1.65, 1.75]})

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [8]:
## 폴라스 시리즈 리스트로 데이터프레임 만들기
df = pl.DataFrame([
    pl.Series('name', ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"]),
    pl.Series('birthdate', [date(1997, 1, 10), date(1985, 2, 15), date(1983, 3, 22), date(1981, 4, 
30)]),
    pl.Series('weight', [57.9, 72.5, 53.6, 83.1]),
    pl.Series('height', [1.56, 1.77, 1.65, 1.75])])
df

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [9]:
pl.DataFrame([
    pl.Series('name', ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"]),
    pl.Series('birthdate', [date(1997, 1, 10), date(1985, 2, 15), date(1983, 3, 22), date(1981, 4, 
30)]),
    pl.Series('weight', [57.9, 72.5, 53.6, 83.1]),
    pl.Series('height', [1.56, 1.77, 1.65, 1.75])],
    schema = {'name': pl.String, 'birthdate': pl.Date, 'weight': pl.UInt8, 'height': pl.UInt8})

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ u8     ┆ u8     │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57     ┆ 1      │
│ Ben Brown      ┆ 1985-02-15 ┆ 72     ┆ 1      │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53     ┆ 1      │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83     ┆ 1      │
└────────────────┴────────────┴────────┴────────┘

## 4.4 표현식

In [10]:
(pl.col('weight') / (pl.col('height').pow(2)))

In [11]:
exp = (pl.col('weight') / (pl.col('height').pow(2)))
df = df.with_columns(exp.alias('BMI'))
df

shape: (4, 5)
┌────────────────┬────────────┬────────┬────────┬───────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       │
╞════════════════╪════════════╪════════╪════════╪═══════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 19.687787 │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 │
└────────────────┴────────────┴────────┴────────┴───────────┘

In [12]:
df.select((pl.col('height') - 10).alias('height 10'), height_5 = pl.col('height') - 5)

shape: (4, 2)
┌───────────┬──────────┐
│ height 10 ┆ height_5 │
│ ---       ┆ ---      │
│ f64       ┆ f64      │
╞═══════════╪══════════╡
│ -8.44     ┆ -3.44    │
│ -8.23     ┆ -3.23    │
│ -8.35     ┆ -3.35    │
│ -8.25     ┆ -3.25    │
└───────────┴──────────┘

In [13]:
## alias() 이전=사용-오류 발생
df.select((height_5 = pl.col('height') - 5, pl.col('height') - 10).alias('height 10'))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (596373959.py, line 2)

In [14]:
df.with_columns(pl.lit('Singer').alias('JOB'), pl.lit(True).alias('Alive'), pl.lit(22.9).alias
('BMI standard'))

shape: (4, 8)
┌────────────────┬────────────┬────────┬────────┬───────────┬────────┬───────┬──────────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       ┆ JOB    ┆ Alive ┆ BMI standard │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---    ┆ ---   ┆ ---          │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ str    ┆ bool  ┆ f64          │
╞════════════════╪════════════╪════════╪════════╪═══════════╪════════╪═══════╪══════════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 ┆ Singer ┆ true  ┆ 22.9         │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ Singer ┆ true  ┆ 22.9         │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 19.687787 ┆ Singer ┆ true  ┆ 22.9         │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 ┆ Singer ┆ true  ┆ 22.9         │
└────────────────┴────────────┴────────┴────────┴───────────┴────────┴───────┴──────────────┘

In [15]:
df.select(
    (pl.col('weight') + 5).alias('weight + 5'),
    (pl.col('height').sub(5)).alias('height - 5'),
    (pl.col('weight') * pl.col('height')).alias('weight * height'),
    (pl.col('height').truediv(pl.col('weight'))).alias('height / weight'),
    (pl.col('BMI') ** 2).alias('BMI ** 2'),
    (pl.col('BMI') % 3).alias('BMI % 3'))

shape: (4, 6)
┌────────────┬────────────┬─────────────────┬─────────────────┬────────────┬──────────┐
│ weight + 5 ┆ height - 5 ┆ weight * height ┆ height / weight ┆ BMI ** 2   ┆ BMI % 3  │
│ ---        ┆ ---        ┆ ---             ┆ ---             ┆ ---        ┆ ---      │
│ f64        ┆ f64        ┆ f64             ┆ f64             ┆ f64        ┆ f64      │
╞════════════╪════════════╪═════════════════╪═════════════════╪════════════╪══════════╡
│ 62.9       ┆ -3.44      ┆ 90.324          ┆ 0.026943        ┆ 566.055134 ┆ 2.791913 │
│ 77.5       ┆ -3.23      ┆ 128.325         ┆ 0.024414        ┆ 535.528943 ┆ 2.141498 │
│ 58.6       ┆ -3.35      ┆ 88.44           ┆ 0.030784        ┆ 387.608955 ┆ 1.687787 │
│ 88.1       ┆ -3.25      ┆ 145.425         ┆ 0.021059        ┆ 736.291612 ┆ 0.134694 │
└────────────┴────────────┴─────────────────┴─────────────────┴────────────┴──────────┘

In [16]:
df.select(
    (pl.col('height') > 1.6).alias('height > 1.6'),
    (pl.col('weight') >= 60).alias('weight >= 60'),
    (pl.col('BMI') == 20).alias('BMI == 20'))

shape: (4, 3)
┌──────────────┬──────────────┬───────────┐
│ height > 1.6 ┆ weight >= 60 ┆ BMI == 20 │
│ ---          ┆ ---          ┆ ---       │
│ bool         ┆ bool         ┆ bool      │
╞══════════════╪══════════════╪═══════════╡
│ false        ┆ false        ┆ false     │
│ true         ┆ true         ┆ false     │
│ true         ┆ false        ┆ false     │
│ true         ┆ true         ┆ false     │
└──────────────┴──────────────┴───────────┘

In [17]:
df.select(
    pl.col('height').gt(1.6).alias('height > 1.6'),
    pl.col('weight').ge(60).alias('weight >= 60'),
    pl.col('BMI').eq(20).alias('BMI == 20'))

shape: (4, 3)
┌──────────────┬──────────────┬───────────┐
│ height > 1.6 ┆ weight >= 60 ┆ BMI == 20 │
│ ---          ┆ ---          ┆ ---       │
│ bool         ┆ bool         ┆ bool      │
╞══════════════╪══════════════╪═══════════╡
│ false        ┆ false        ┆ false     │
│ true         ┆ true         ┆ false     │
│ true         ┆ false        ┆ false     │
│ true         ┆ true         ┆ false     │
└──────────────┴──────────────┴───────────┘

In [18]:
df.filter(((pl.col('height') > 1.6).and_(pl.col('weight') >= 60)))

shape: (2, 5)
┌────────────────┬────────────┬────────┬────────┬───────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       │
╞════════════════╪════════════╪════════╪════════╪═══════════╡
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 │
└────────────────┴────────────┴────────┴────────┴───────────┘

In [19]:
df.with_columns(pl.col('name').str.head(5).alias('string_head'),
                             pl.col('name').str.reverse().alias('string_rev'))

shape: (4, 7)
┌────────────────┬────────────┬────────┬────────┬───────────┬─────────────┬────────────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       ┆ string_head ┆ string_rev     │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---         ┆ ---            │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ str         ┆ str            │
╞════════════════╪════════════╪════════╪════════╪═══════════╪═════════════╪════════════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 ┆ Alice       ┆ rehcrA ecilA   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ Ben B       ┆ nworB neB      │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 19.687787 ┆ Chloe       ┆ repooC eolhC   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 ┆ Danie       ┆ navonoD leinaD │
└────────────────┴────────────┴────────┴────────┴───────────┴─────────────┴────────────────┘

In [20]:
df = df.with_columns(
    pl.when(pl.col('BMI') > 23).then(pl.lit("과체중")).otherwise(pl.lit("정상")).alias('BMI 판정'))
df

shape: (4, 6)
┌────────────────┬────────────┬────────┬────────┬───────────┬──────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       ┆ BMI 판정 │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---      │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ str      │
╞════════════════╪════════════╪════════╪════════╪═══════════╪══════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 ┆ 과체중   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ 과체중   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 19.687787 ┆ 정상     │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 ┆ 과체중   │
└────────────────┴────────────┴────────┴────────┴───────────┴──────────┘

In [21]:
BMI_enum = pl.Enum(["저체중", "정상", "과체중", "비만"])
df = df.with_columns(pl.col('BMI 판정').cast(BMI_enum).alias('enum_판정'))
df

shape: (4, 7)
┌────────────────┬────────────┬────────┬────────┬───────────┬──────────┬───────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       ┆ BMI 판정 ┆ enum_판정 │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---      ┆ ---       │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ str      ┆ enum      │
╞════════════════╪════════════╪════════╪════════╪═══════════╪══════════╪═══════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 ┆ 과체중   ┆ 과체중    │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ 과체중   ┆ 과체중    │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 19.687787 ┆ 정상     ┆ 정상      │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 ┆ 과체중   ┆ 과체중    │
└────────────────┴────────────┴────────┴────────┴───────────┴──────────┴───────────┘

In [22]:
from polars.exceptions import InvalidOperationError
try:
    pl.Series(["과체중", "비만", "정상", "과체중", "비만전단계"], dtype = BMI_enum)
except InvalidOperationError as exc:
    print("InvalidOperationError:", exc)

InvalidOperationError: conversion from `str` to `enum` failed in column '' for 1 out of 5 values: ["비만전단계"]

Ensure that all values in the input column are present in the categories of the enum datatype.

In [23]:
df.sort('enum_판정')

shape: (4, 7)
┌────────────────┬────────────┬────────┬────────┬───────────┬──────────┬───────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       ┆ BMI 판정 ┆ enum_판정 │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---      ┆ ---       │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ str      ┆ enum      │
╞════════════════╪════════════╪════════╪════════╪═══════════╪══════════╪═══════════╡
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 19.687787 ┆ 정상     ┆ 정상      │
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 ┆ 과체중   ┆ 과체중    │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ 과체중   ┆ 과체중    │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 ┆ 과체중   ┆ 과체중    │
└────────────────┴────────────┴────────┴────────┴───────────┴──────────┴───────────┘

In [24]:
df.filter((pl.col('enum_판정') > "정상"))

shape: (3, 7)
┌────────────────┬────────────┬────────┬────────┬───────────┬──────────┬───────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       ┆ BMI 판정 ┆ enum_판정 │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---      ┆ ---       │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ str      ┆ enum      │
╞════════════════╪════════════╪════════╪════════╪═══════════╪══════════╪═══════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 ┆ 과체중   ┆ 과체중    │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ 과체중   ┆ 과체중    │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 ┆ 과체중   ┆ 과체중    │
└────────────────┴────────────┴────────┴────────┴───────────┴──────────┴───────────┘

In [25]:
df = df.with_columns(pl.col('enum_판정').cast(pl.Categorical))
df

shape: (4, 7)
┌────────────────┬────────────┬────────┬────────┬───────────┬──────────┬───────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       ┆ BMI 판정 ┆ enum_판정 │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---      ┆ ---       │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ str      ┆ cat       │
╞════════════════╪════════════╪════════╪════════╪═══════════╪══════════╪═══════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 ┆ 과체중   ┆ 과체중    │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ 과체중   ┆ 과체중    │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 19.687787 ┆ 정상     ┆ 정상      │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 ┆ 과체중   ┆ 과체중    │
└────────────────┴────────────┴────────┴────────┴───────────┴──────────┴───────────┘

In [27]:
df.with_columns(pl.when(pl.col('enum_판정') < "정상").then(pl.lit("저체중")).otherwise(pl.lit
("비만")))

shape: (4, 8)
┌────────────────┬────────────┬────────┬────────┬───────────┬──────────┬───────────┬─────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI       ┆ BMI 판정 ┆ enum_판정 ┆ literal │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---      ┆ ---       ┆ ---     │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ str      ┆ cat       ┆ str     │
╞════════════════╪════════════╪════════╪════════╪═══════════╪══════════╪═══════════╪═════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 ┆ 과체중   ┆ 과체중    ┆ 저체중  │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ 과체중   ┆ 과체중    ┆ 저체중  │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 19.687787 ┆ 정상     ┆ 정상      ┆ 비만    │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 ┆ 과체중   ┆ 과체중    ┆ 저체중  │
└────────────────┴────────────┴────────┴────────┴───────────┴──────────┴───────────┴─────────┘

In [28]:
df_missing = pl.DataFrame([
    pl.Series('name', ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"]),
    pl.Series('birthdate', [date(1997, 1, 10), None, date(1983, 3, 22), date(1981, 4, 30)]),
    pl.Series('weight', [57.9, 72.5, None, 83.1]), # (kg)
    pl.Series('height', [None, 1.77, 1.65, float("nan")]), # (m)
    pl.Series('BMI', [23.79, 23.14, 19.68, 27.13])])
df_missing

shape: (4, 5)
┌────────────────┬────────────┬────────┬────────┬───────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI   │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---   │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64   │
╞════════════════╪════════════╪════════╪════════╪═══════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ null   ┆ 23.79 │
│ Ben Brown      ┆ null       ┆ 72.5   ┆ 1.77   ┆ 23.14 │
│ Chloe Cooper   ┆ 1983-03-22 ┆ null   ┆ 1.65   ┆ 19.68 │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ NaN    ┆ 27.13 │
└────────────────┴────────────┴────────┴────────┴───────┘

In [29]:
df_missing.null_count()

shape: (1, 5)
┌──────┬───────────┬────────┬────────┬─────┐
│ name ┆ birthdate ┆ weight ┆ height ┆ BMI │
│ ---  ┆ ---       ┆ ---    ┆ ---    ┆ --- │
│ u32  ┆ u32       ┆ u32    ┆ u32    ┆ u32 │
╞══════╪═══════════╪════════╪════════╪═════╡
│ 0    ┆ 1         ┆ 1      ┆ 1      ┆ 0   │
└──────┴───────────┴────────┴────────┴─────┘

In [31]:
df_missing.select(pl.col('name').null_count())

shape: (1, 1)
┌──────┐
│ name │
│ ---  │
│ u32  │
╞══════╡
│ 0    │
└──────┘

In [32]:
df_missing.select(pl.col('*').is_null())

shape: (4, 5)
┌───────┬───────────┬────────┬────────┬───────┐
│ name  ┆ birthdate ┆ weight ┆ height ┆ BMI   │
│ ---   ┆ ---       ┆ ---    ┆ ---    ┆ ---   │
│ bool  ┆ bool      ┆ bool   ┆ bool   ┆ bool  │
╞═══════╪═══════════╪════════╪════════╪═══════╡
│ false ┆ false     ┆ false  ┆ true   ┆ false │
│ false ┆ true      ┆ false  ┆ false  ┆ false │
│ false ┆ false     ┆ true   ┆ false  ┆ false │
│ false ┆ false     ┆ false  ┆ false  ┆ false │
└───────┴───────────┴────────┴────────┴───────┘

In [33]:
df_missing.drop_nulls()

shape: (1, 5)
┌────────────────┬────────────┬────────┬────────┬───────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI   │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---   │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64   │
╞════════════════╪════════════╪════════╪════════╪═══════╡
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ NaN    ┆ 27.13 │
└────────────────┴────────────┴────────┴────────┴───────┘

In [34]:
df_missing.select(pl.col('birthdate').drop_nulls())

shape: (3, 1)
┌────────────┐
│ birthdate  │
│ ---        │
│ date       │
╞════════════╡
│ 1997-01-10 │
│ 1983-03-22 │
│ 1981-04-30 │
└────────────┘

In [35]:
df_missing.select(pl.col('height').drop_nans())

shape: (3, 1)
┌────────┐
│ height │
│ ---    │
│ f64    │
╞════════╡
│ null   │
│ 1.77   │
│ 1.65   │
└────────┘

In [36]:
df_missing.with_columns(pl.col('height', 'weight').fill_null(0))

shape: (4, 5)
┌────────────────┬────────────┬────────┬────────┬───────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI   │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---   │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64   │
╞════════════════╪════════════╪════════╪════════╪═══════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 0.0    ┆ 23.79 │
│ Ben Brown      ┆ null       ┆ 72.5   ┆ 1.77   ┆ 23.14 │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 0.0    ┆ 1.65   ┆ 19.68 │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ NaN    ┆ 27.13 │
└────────────────┴────────────┴────────┴────────┴───────┘

In [37]:
df_missing.fill_nan(0)

shape: (4, 5)
┌────────────────┬────────────┬────────┬────────┬───────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI   │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---   │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64   │
╞════════════════╪════════════╪════════╪════════╪═══════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ null   ┆ 23.79 │
│ Ben Brown      ┆ null       ┆ 72.5   ┆ 1.77   ┆ 23.14 │
│ Chloe Cooper   ┆ 1983-03-22 ┆ null   ┆ 1.65   ┆ 19.68 │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 0.0    ┆ 27.13 │
└────────────────┴────────────┴────────┴────────┴───────┘

In [38]:
df_missing.with_columns(pl.col('height').fill_null((pl.col('weight') / pl.col('BMI')).sqrt()))

shape: (4, 5)
┌────────────────┬────────────┬────────┬──────────┬───────┐
│ name           ┆ birthdate  ┆ weight ┆ height   ┆ BMI   │
│ ---            ┆ ---        ┆ ---    ┆ ---      ┆ ---   │
│ str            ┆ date       ┆ f64    ┆ f64      ┆ f64   │
╞════════════════╪════════════╪════════╪══════════╪═══════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.560063 ┆ 23.79 │
│ Ben Brown      ┆ null       ┆ 72.5   ┆ 1.77     ┆ 23.14 │
│ Chloe Cooper   ┆ 1983-03-22 ┆ null   ┆ 1.65     ┆ 19.68 │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ NaN      ┆ 27.13 │
└────────────────┴────────────┴────────┴──────────┴───────┘

In [39]:
df_missing.fill_null(strategy = "backward")

shape: (4, 5)
┌────────────────┬────────────┬────────┬────────┬───────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ BMI   │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---   │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ f64   │
╞════════════════╪════════════╪════════╪════════╪═══════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.77   ┆ 23.79 │
│ Ben Brown      ┆ 1983-03-22 ┆ 72.5   ┆ 1.77   ┆ 23.14 │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 83.1   ┆ 1.65   ┆ 19.68 │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ NaN    ┆ 27.13 │
└────────────────┴────────────┴────────┴────────┴───────┘

## 4.5 컨텍스트

In [40]:
df.select(
    bmi = exp, ## exp.alias('bmi')와 동일
    avg_bmi = exp.mean(), ## exp.mean().alias('avg_bmi')와 동일
    ideal_max_bmi = 25) ## pl.lit(25).alias('ideal_max_bmi')와 동일

shape: (4, 3)
┌───────────┬───────────┬───────────────┐
│ bmi       ┆ avg_bmi   ┆ ideal_max_bmi │
│ ---       ┆ ---       ┆ ---           │
│ f64       ┆ f64       ┆ i32           │
╞═══════════╪═══════════╪═══════════════╡
│ 23.791913 ┆ 23.438973 ┆ 25            │
│ 23.141498 ┆ 23.438973 ┆ 25            │
│ 19.687787 ┆ 23.438973 ┆ 25            │
│ 27.134694 ┆ 23.438973 ┆ 25            │
└───────────┴───────────┴───────────────┘

In [41]:
df.with_columns(bmi = exp, avg_bmi = exp.mean(), ideal_max_bmi = 25)

shape: (4, 10)
┌────────────────┬────────────┬────────┬────────┬───┬───────────┬───────────┬───────────┬───────────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ … ┆ enum_판정 ┆ bmi       ┆ avg_bmi   ┆ ideal_max_bmi │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---           │
│ str            ┆ date       ┆ f64    ┆ f64    ┆   ┆ cat       ┆ f64       ┆ f64       ┆ i32           │
╞════════════════╪════════════╪════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ … ┆ 과체중    ┆ 23.791913 ┆ 23.438973 ┆ 25            │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ … ┆ 과체중    ┆ 23.141498 ┆ 23.438973 ┆ 25            │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ … ┆ 정상      ┆ 19.687787 ┆ 23.438973 ┆ 25            │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ … ┆ 과체중    ┆ 27.134694 ┆ 23.438973 ┆ 25            │
└────────────────┴────────────┴────────┴────────┴───┴───────────┴───────────┴───────────┴───────────────┘

In [42]:
df.filter((pl.col('birthdate').is_between(date(1982, 12, 31), date(1996, 1, 1))) &
(pl.col('height') > 1.7))

shape: (1, 7)
┌───────────┬────────────┬────────┬────────┬───────────┬──────────┬───────────┐
│ name      ┆ birthdate  ┆ weight ┆ height ┆ BMI       ┆ BMI 판정 ┆ enum_판정 │
│ ---       ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---      ┆ ---       │
│ str       ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ str      ┆ cat       │
╞═══════════╪════════════╪════════╪════════╪═══════════╪══════════╪═══════════╡
│ Ben Brown ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ 과체중   ┆ 과체중    │
└───────────┴────────────┴────────┴────────┴───────────┴──────────┴───────────┘

In [43]:
df.group_by((pl.col('birthdate').dt.year() // 10 * 10).alias('decade') ).agg(pl.col('name'))

shape: (2, 2)
┌────────┬─────────────────────────────────┐
│ decade ┆ name                            │
│ ---    ┆ ---                             │
│ i32    ┆ list[str]                       │
╞════════╪═════════════════════════════════╡
│ 1980   ┆ ["Ben Brown", "Chloe Cooper", … │
│ 1990   ┆ ["Alice Archer"]                │
└────────┴─────────────────────────────────┘

## 4.6 지연연산

In [28]:
import time
import pandas as pd
import numpy as np
start = time.time()
pd.DataFrame({'Age': np.random.randint(18, 60, 100_000_000),
                         'Salary': np.random.randint(30000, 90000, 100_000_000),
                         'Gender': np.random.choice(["Male", "Female"], 100_000_000)})
end = time.time()
print(end - start)

54.41683387756348

In [29]:
start = time.time()
df_lazy = pl.LazyFrame({'Age': np.random.randint(18, 60, 100_000_000),
                                        'Salary': np.random.randint(30000, 90000, 100_000_000),
                                        'Gender': np.random.choice(["Male", "Female"], 100_000_000)})
end = time.time()
print(end - start)

30.69267439842224

In [30]:
print(df_lazy)

naive plan: (run LazyFrame.explain(optimized=True) to see the optimized plan)

DF ["Age", "Salary", "Gender"]; PROJECT */3 COLUMNS

In [31]:
df_lazy.collect()

shape: (100_000_000, 3)
┌─────┬────────┬────────┐
│ Age ┆ Salary ┆ Gender │
│ --- ┆ ---    ┆ ---    │
│ i32 ┆ i32    ┆ str    │
╞═════╪════════╪════════╡
│ 33  ┆ 31802  ┆ Male   │
│ 51  ┆ 87686  ┆ Male   │
│ 32  ┆ 48773  ┆ Female │
│ 22  ┆ 56469  ┆ Male   │
│ 21  ┆ 62474  ┆ Male   │
│ …   ┆ …      ┆ …      │
│ 59  ┆ 77350  ┆ Male   │
│ 42  ┆ 32546  ┆ Female │
│ 25  ┆ 68416  ┆ Female │
│ 27  ┆ 88280  ┆ Male   │
│ 42  ┆ 46889  ┆ Female │
└─────┴────────┴────────┘

In [32]:
start = time.time()
df_lazy = df_lazy.collect()
end = time.time()
print(end - start)

0.0

In [33]:
context_lazy = df_lazy.filter(pl.col('Gender') == "Male").lazy()
print(context_lazy)

naive plan: (run LazyFrame.explain(optimized=True) to see the optimized plan)

DF ["Age", "Salary", "Gender"]; PROJECT */3 COLUMNS

In [34]:
context_lazy.collect()

shape: (49_996_477, 3)
┌─────┬────────┬────────┐
│ Age ┆ Salary ┆ Gender │
│ --- ┆ ---    ┆ ---    │
│ i32 ┆ i32    ┆ str    │
╞═════╪════════╪════════╡
│ 33  ┆ 31802  ┆ Male   │
│ 51  ┆ 87686  ┆ Male   │
│ 22  ┆ 56469  ┆ Male   │
│ 21  ┆ 62474  ┆ Male   │
│ 20  ┆ 45888  ┆ Male   │
│ …   ┆ …      ┆ …      │
│ 55  ┆ 76263  ┆ Male   │
│ 54  ┆ 57993  ┆ Male   │
│ 20  ┆ 51003  ┆ Male   │
│ 59  ┆ 77350  ┆ Male   │
│ 27  ┆ 88280  ┆ Male   │
└─────┴────────┴────────┘

In [35]:
df_LazyFrame = pl.LazyFrame([
    pl.Series('name', ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"]),
    pl.Series('birthdate', [date(1997, 1, 10), date(1985, 2, 15), date(1983, 3, 22), date(1981, 4,
30)]),
    pl.Series('weight', [57.9, 72.5, 53.6, 83.1]),
    pl.Series('height', [1.56, 1.77, 1.65, 1.75])])

In [36]:
query = (df_LazyFrame.with_columns((pl.col('weight') / (pl.col('height') ** 2)).alias('BMI'))
    .filter(pl.col('weight') < 70)
    .select(pl.col('name', 'BMI')))

In [37]:
print(query.explain(optimized = True))

simple π 2/4 ["name", "BMI"]
   WITH_COLUMNS:
   [[(col("weight")) / (col("height").pow([dyn int: 2]))].alias("BMI")]
    FILTER [(col("weight")) < (70.0)]
    FROM
      DF ["name", "birthdate", "weight", "height"]; PROJECT["name", "weight", "height"] 3/4 COLUMNS

In [38]:
print(query.explain(optimized = False))

SELECT [col("name"), col("BMI")]
FROM
  FILTER [(col("weight")) < (70.0)]
  FROM
     WITH_COLUMNS:
     [[(col("weight")) / (col("height").pow([dyn int: 2]))].alias("BMI")]
      DF ["name", "birthdate", "weight", "height"]; PROJECT */4 COLUMNS